apiVersion: apps/v1
kind: Deployment
metadata:
  name: quest-api
  namespace: quest
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: quest-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: quest-api
        quest: api
        app: quest
    spec:
      containers:
        - name: quest-api-ctn
          image: 622164100401.dkr.ecr.ap-northeast-1.amazonaws.com/quest-api:0.1.9
          ports:
            - name: http
              containerPort: 8000
          envFrom:
            - secretRef:
                name: quest-rds-credentials-secret
            - secretRef:
                name: quest-eks-url
            - secretRef:
                name: quest-api-sa
          volumeMounts:
            - name: quest-api-ca
              mountPath: "/root/.kube/"
              readOnly: true
      volumes:
        - name: quest-api-ca
          secret:
            secretName: quest-api-sa